<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.answer.api.mapper.CharacterAnalysisMapper" >
  <resultMap id="BaseResultMap" type="com.answer.api.entity.CharacterAnalysis" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="character_name" property="characterName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.answer.api.entity.CharacterAnalysisWithBLOBs" extends="BaseResultMap" >
    <result column="personality_profile" property="personalityProfile" jdbcType="LONGVARCHAR" />
    <result column="personality_characteristics" property="personalityCharacteristics" jdbcType="LONGVARCHAR" />
    <result column="advantage" property="advantage" jdbcType="LONGVARCHAR" />
    <result column="shortcoming" property="shortcoming" jdbcType="LONGVARCHAR" />
    <result column="work_style" property="workStyle" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, character_name
  </sql>
  <sql id="Blob_Column_List" >
    personality_profile, personality_characteristics, advantage, shortcoming, work_style
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.answer.api.entity.CharacterAnalysisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_character_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.answer.api.entity.CharacterAnalysisExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_character_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from tb_character_analysis
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_character_analysis
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.answer.api.entity.CharacterAnalysisExample" >
    delete from tb_character_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.answer.api.entity.CharacterAnalysisWithBLOBs" >
    insert into tb_character_analysis (id, character_name, personality_profile, 
      personality_characteristics, advantage, 
      shortcoming, work_style)
    values (#{id,jdbcType=INTEGER}, #{characterName,jdbcType=VARCHAR}, #{personalityProfile,jdbcType=LONGVARCHAR}, 
      #{personalityCharacteristics,jdbcType=LONGVARCHAR}, #{advantage,jdbcType=LONGVARCHAR}, 
      #{shortcoming,jdbcType=LONGVARCHAR}, #{workStyle,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.answer.api.entity.CharacterAnalysisWithBLOBs" >
    insert into tb_character_analysis
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="characterName != null" >
        character_name,
      </if>
      <if test="personalityProfile != null" >
        personality_profile,
      </if>
      <if test="personalityCharacteristics != null" >
        personality_characteristics,
      </if>
      <if test="advantage != null" >
        advantage,
      </if>
      <if test="shortcoming != null" >
        shortcoming,
      </if>
      <if test="workStyle != null" >
        work_style,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="characterName != null" >
        #{characterName,jdbcType=VARCHAR},
      </if>
      <if test="personalityProfile != null" >
        #{personalityProfile,jdbcType=LONGVARCHAR},
      </if>
      <if test="personalityCharacteristics != null" >
        #{personalityCharacteristics,jdbcType=LONGVARCHAR},
      </if>
      <if test="advantage != null" >
        #{advantage,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortcoming != null" >
        #{shortcoming,jdbcType=LONGVARCHAR},
      </if>
      <if test="workStyle != null" >
        #{workStyle,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.answer.api.entity.CharacterAnalysisExample" resultType="java.lang.Integer" >
    select count(*) from tb_character_analysis
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_character_analysis
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.characterName != null" >
        character_name = #{record.characterName,jdbcType=VARCHAR},
      </if>
      <if test="record.personalityProfile != null" >
        personality_profile = #{record.personalityProfile,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.personalityCharacteristics != null" >
        personality_characteristics = #{record.personalityCharacteristics,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.advantage != null" >
        advantage = #{record.advantage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.shortcoming != null" >
        shortcoming = #{record.shortcoming,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.workStyle != null" >
        work_style = #{record.workStyle,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update tb_character_analysis
    set id = #{record.id,jdbcType=INTEGER},
      character_name = #{record.characterName,jdbcType=VARCHAR},
      personality_profile = #{record.personalityProfile,jdbcType=LONGVARCHAR},
      personality_characteristics = #{record.personalityCharacteristics,jdbcType=LONGVARCHAR},
      advantage = #{record.advantage,jdbcType=LONGVARCHAR},
      shortcoming = #{record.shortcoming,jdbcType=LONGVARCHAR},
      work_style = #{record.workStyle,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_character_analysis
    set id = #{record.id,jdbcType=INTEGER},
      character_name = #{record.characterName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.answer.api.entity.CharacterAnalysisWithBLOBs" >
    update tb_character_analysis
    <set >
      <if test="characterName != null" >
        character_name = #{characterName,jdbcType=VARCHAR},
      </if>
      <if test="personalityProfile != null" >
        personality_profile = #{personalityProfile,jdbcType=LONGVARCHAR},
      </if>
      <if test="personalityCharacteristics != null" >
        personality_characteristics = #{personalityCharacteristics,jdbcType=LONGVARCHAR},
      </if>
      <if test="advantage != null" >
        advantage = #{advantage,jdbcType=LONGVARCHAR},
      </if>
      <if test="shortcoming != null" >
        shortcoming = #{shortcoming,jdbcType=LONGVARCHAR},
      </if>
      <if test="workStyle != null" >
        work_style = #{workStyle,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.answer.api.entity.CharacterAnalysisWithBLOBs" >
    update tb_character_analysis
    set character_name = #{characterName,jdbcType=VARCHAR},
      personality_profile = #{personalityProfile,jdbcType=LONGVARCHAR},
      personality_characteristics = #{personalityCharacteristics,jdbcType=LONGVARCHAR},
      advantage = #{advantage,jdbcType=LONGVARCHAR},
      shortcoming = #{shortcoming,jdbcType=LONGVARCHAR},
      work_style = #{workStyle,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.answer.api.entity.CharacterAnalysis" >
    update tb_character_analysis
    set character_name = #{characterName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>